header {
  box-sizing: border-box;
  width: 100vw;
  text-align: left;
  color: #333;
  background: #343434;
  color: #f4f4f4;
  border-bottom: 3px solid #aaa;
}

header h3 {
  display: inline-block;
}

header div {
  display: inline-flex;
  justify-content: right;
  box-sizing: border-box;
  width: 50vw;
}

header div a {
  text-decoration: none;
  color: #f4f4f4;
}

header div h3 {
  text-align: right;
  padding: 0 2vw;
  font-size: 16px;
  transition: all 0.3s ease;
}

header div h3:hover {
  color: #afafaf;
}

#title-container {
  display: inline-flex;
  justify-content: left;
  box-sizing: border-box;
  width: 49vw;
}

#isef-title {
  padding-left: 3vw;
  margin: 5px 0;
  font-size: 20px;
  color: #f4f4f4;
}

/* ------------------- FOOTER SECTION ------------------- */

footer {
    background: #222;
    padding: 5vh 10vw;
    padding-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #c4c4c4;
    font-weight: 600;
    text-align: left;
}

.footer-box {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.footer-box-section {
    width: 30%;
    margin: auto;
    background-color: #222;
}

#footer-box-section-1 {
    margin-left: 0;
}

.footer-box-links {
    width: 100%;
    box-sizing: border-box;
    background-color: #222;
    text-align: center;
}

.footer-link-x,
.footer-link-yt,
.footer-link-reddit,
.footer-link-instagram,
.footer-link-tiktok {
    margin: 10px 20px;
    background-size: cover;
    width: 32px;
    height: 32px;
    opacity: 0.7;
}

.footer-link-x {
    margin-left: 0;
}

.footer-box-section a {
    border: 0;
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

.footer-box-section a:visited, .footer-box-section a:link {
    color: #d4d4d4;
}

.footer-box-links a {
    border: 0;
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

.copyright-text {
    padding-left: 10px;
    font-size: 0.8em;
    color: #a4a4a4;
    border-left: 2px solid #4f4f4f;
}
