body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background: #e3e3e3;
  width: 100vw;
}

main {
  box-sizing: border-box;
  width: 100vw;
  padding: 5vh 30vw;
  padding-top: 6vh;
  height: 88vh;
}

form {
  background: #f4f4f4;
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
}

form h2 {
  margin-top: 5px;
  color: #333;
}

span {
  color: #666;
  font-size: 11;
}
label {
  line-height: 1.5;
  font-size: 14px;
  font-weight: 600;
  color: #444;
}

input, textarea {
  width: 100%;
  max-width: 100%;
  margin: 8px 0;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 15px;
}

input[type="submit"] {
  width: 30%;
  margin: 0 35%;
  margin-top: 30px;
}
